body{
    background-color: #f5f5f6;
}
nav{
    opacity: 95%;
}
nav button{
    border: none;
    margin : 8px 5px 0 0;
    background-color: #f8f9fa;
}


.active{
    text-decoration: underline;   
}


.startSection{
    position: relative;
    display: flex;
    width: 100%;
    height: 50em;
    color: white;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

#main-lemon{
    height: 25em;
    margin: auto 0 auto 3em;
}

.startQuote{
    margin: 8% auto 0 auto;
}

.startQuote h2{
    font-size: 5em;
}

.startQuote p{
    font-size: 1.5em;
}

.title{
    margin-top:3em;
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.productSection{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#cartDiv{
    z-index: 1;
    width:25%;
    height:70%;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 2%;
    /* position:absolute; */
    left:75%;
    z-index:100;
    overflow-y: auto;
    display:none;
    position: fixed;

}


.cartItemImg{
    width: 120px;
    height: 120px;
    border-radius: 5%;
}


.items-list > li{
    display: flex;
    flex-direction: row;

}

.cartPrice{
    display: block;
}

.card{
    margin: 1%;
}
.card-img-top{
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

footer{
    width: 100% !important;
    background: linear-gradient(to right,#4caf50, #339937);
}